body {
    background-image: url('../images/webbackground.png');
    background-attachment: fixed;
}

div.navigation {
    background-color: whitesmoke;
    width: 101%;
    margin-left: -0.4%;
    margin-top: -0.4%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 55px;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

p1 {
    color: white;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
}

button.navigation {
    width: 200px;
    margin-left: 0px;
    background-color: whitesmoke;
    border-style: none;
    color: black;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    height: 104px;
    float: right;
    margin-right: 30px;
    margin-top: 5px;
    text-align: center;
}

button.navigation:hover {
    background-color: whitesmoke;
    border-style: none;
    color: black;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    height: 104px;
    margin-top: 5px;
    
}

div.paragraph {
    width: 70%;
    margin-left: 15%;
}

h2 {
    color: #ffffff;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

h3 {
    color: #ffffff;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    text-decoration-thickness: 4px;
}

div.contact {
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: space-around;
}
